<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>每天都被自己帅醒!</title>
	<link rel="stylesheet" href="">
	<script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
	<div id="app">
		<fieldset>
			<legend>数据排序及相关操作</legend>
			<input type="text" v-model="searchName" />
			<ul>
				<li v-for="(item,index) in personArr" :key="index">
					索引:{{index}}---id:{{item.id}}----名字:{{item.name}}---年龄:{{item.age}}
				</li>
			</ul>
			<button @click="state=1">升序排序</button>
			<button @click="state=2">降序排序</button>
			<button @click="state=0">原来排序</button>

		</fieldset>
	</div>
	<script type="text/javascript">
		const vm = new Vue({
			el: '#app',
			data: {
				searchName: '', // 用来存储搜索的名字内容
				state: 0, // 默认是0,如果是0则就是原来顺序,如果是1则是升序,如果是2则是降序
				persons: [
					{ id: 1, name: 'jack', age: 27 },
					{ id: 2, name: 'lucy', age: 59 },
					{ id: 3, name: 'rousi', age: 13 },
					{ id: 4, name: 'tom', age: 89 },
					{ id: 5, name: 'ali', age: 40 }
				]
			},
			// 根据搜索的内容,去persons数组中进行搜索查询操作--->查询的结果(新的数据,搜索到的数据)---->放在一个新的数组中
			// 输入---->o---->2个数据--->数组来存储搜索到的数据-------->列表中遍历的肯定就是这个数组
			// 搜索内容searchName  persons数组   -----> 新的数组----->进行遍历
			computed: {
				// 用来存储搜索之后的结果的数据
				personArr() {
					// 根据searchName去persons数组中进行查询筛选操作
					const { state, persons, searchName } = this
					// 进行查询
					const arr = persons.filter((item) => item.name.indexOf(searchName) !== -1) // 用来存储搜索之后的数据的
					// 判断这个标识
					if (state !== 0) {
						// 开始排序
						arr.sort((p1, p2) => {
							return state === 2 ? p2.age - p1.age : p1.age - p2.age
						})
					}
					return arr
				}
			}
		})

	</script>
</body>

</html>