<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>每天都被自己帅醒!</title>
  <link rel="stylesheet" href="">
  <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <fieldset>
      <legend>遍历数组</legend>
      <ol>
        <!--item是数组中的每一项,index是索引-->
       
       <li v-for="(item,index) in persons" :key="index">
         索引:{{index}}---id:{{item.id}}----名字:{{item.name}}----性别:{{item.gender}}----年龄:{{item.age}}
       </li>
      </ol>
      <hr>
      <ul>
        <li v-for="item in persons" :key="item.id">
         id:{{item.id}}----名字:{{item.name}}----性别:{{item.gender}}----年龄:{{item.age}}
        </li>
      </ul>
    </fieldset>
    <hr>
    <fieldset>
      <legend>遍历对象</legend>
      <ul>
      <li v-for="(val,key,index) in obj">
        {{key}}----{{val}}----{{index}}
      
      </li>
      </ul>
    </fieldset>
  </div>
<script type="text/javascript">
    // 遍历一群人的数据--人就是一个对象,名字,性别,年龄---id
    const vm = new Vue({
      el:'#app',
      data:{
        persons:[
          {id:1,name:'华哥',age:34,gender:'女'},
          {id:2,name:'铭哥',age:36,gender:'妖'},
          {id:3,name:'健哥哥',age:38,gender:'男'},
          {id:4,name:'凤姐',age:23,gender:'女'},
          {id:5,name:'乔碧萝殿下',age:51,gender:'女'}
        ],
        obj:{
          name:'健健',
          gender:'女孩子',
          age:16
        }
      }
    })

    /*
      v-for是一个指令,作用:用来遍历的
      标签中写法: v-for="(item,index) in 数组名字" 
      item的这个名字可以随便的改写
      index的这个名字也可以随便的改写
      in 前后都有空格

      总结:v-for可以遍历数组,也可以遍历对象
      但是,遍历对象的时候,v-for="(val,key,index) in obj" val和key和index这些名字都可以修改
      val---值---属性的值
      key---键---属性的名字
      index---索引
      关于key的问题,可以使用索引,页可以使用id,建议大家使用id,使用index,容易出现虚拟DOM多次渲染,影响效率的问题
      v-for指令中的in可以使用of

    
    
    */





  

  /*
  
    循环遍历数据------>通过v-for指令遍历vm实例对象中的相关数据
    遍历人的数据
    v-for指令:遍历数据的

    遍历数组的时候,v-for指令后面可以有两种写法:
    1. (item,index) in 数组名字---->item:数组中每一项,index是索引
    2. item in 数组名字------>item是数组中的每一项,
    遍历对象:
    (value,key,index) in 对象名字
    value----->对象中的某个键对应的值
    key---->对象中的键(属性)
    index---->索引(意义不大)
  
  
  */
</script>
</body>

</html>